h1,
h2,
h5,
p{font-weight: lighter; color:#000;}
h1{font-size: 52px;}
h2{font-size: 30px;}
h5{font-size: 28px;font-weight: normal;}
@media (min-width: 768px) {
  h1{font-size: 60px;}
}
.navbar-nav i,
.review i,
.navbar-nav a{color:red;}
.navbar-nav i,
.review i{font-size: 22px;}

.navbar,
.btn.btn-primary{
    background-image: linear-gradient(to bottom right, #712cf9, #450eb5);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.hero{
    @include background-cover ("/img/pexels-aleksandar-pasaric-325185.jpg");
}
.focus{
    background: rgb(245,245,245);
    opacity: 1;
}
.focus i{
    font-size: 30px;
}
.partners img{
    padding: 20px 150px;
}
@media (min-width: 768px) {
    .partners img{
        padding: 20px 50px;
    }
}
.review img{
    width: 200px;
    height: 200px;
}
.footer{
    background-image: linear-gradient(to bottom right, #712cf9, #450eb5);
    h2, p{
        color:#fff;
    }
}